p {
    color:gray;
    /* opacity: 50%; */
    padding: 10px;
    /* position: absolute; */
    width: 100%;
    /* margin: 0; */
    bottom: 0;
    text-align: center;
    position: fixed;
    margin-top: 100px;
}

