<p>About</p>
<p>Creative Design Studio, located in Bayville, New York by the Long Island Sound provides creative designs for
    brochures, books, booklets, in-house magazines, journals, newsletters, catalogs, annual reports, sales sheets, post
    cards photography illustration and print ads. A relatively new service: litigation graphics which includes posters,
    charts & graphs is available to the legal community. We offer web site creation and maintenance. Founded in 1987 by
    Stan Kaufman as Unlimited Graphic Solutions. The name was changed to Creative Design Studio in 1996 to better
    reflect the type of work we do. We offer personalized service geared to your deadline and bold, creative designs
    with experience and reliability.

    Creative Design Studio can work with your ideas or can offer our own in creating original and eye-catching graphic
    designs. The creativity of the staff, coupled with the care and precision that always characterizes our work, can
    produce for you a truly impressive finished product. Every aspect of your project, from the most creative to the
    most mechanical, from concept to completion can be handled. We accept any kind of jobs. Large, medium and small jobs
    are all handled quickly and efficientl
</p>