<div class="about-content">
    <p>TruNorth Creatives, located in Bayville, New York by the Long Island Sound provides creative designs for
        webisted, mobile apps, books, booklets, in-house magazines, journals, newsletters, catalogs, annual reports, sales sheets,
        post
        cards photography illustration and print ads. A relatively new service: litigation graphics which includes
        posters,
        charts & graphs is available to the legal community. We offer web site creation and maintenance. Founded in 1987
        by
        Stan Kaufman as Unlimited Graphic Solutions. 

        TruNorth Creatives can work with your ideas or can offer our own in creating original and eye-catching
        graphic
        designs. The creativity of the staff, coupled with the care and precision that always characterizes our work,
        can
        produce for you a truly impressive finished product. Every aspect of your project, from the most creative to the
        most mechanical, from concept to completion can be handled. We accept any kind of jobs. Large, medium and small
        jobs
        are all handled quickly and efficiently.
    </p>
</div>
<div class="btn-align">
    <button type="button" class="btn btn-primary" (click)="getDataFromAPI()">Read Reviews!</button>
</div>

<div class="reviews-list" *ngFor="let d of data">
    <h6>{{d.title}}</h6>
    <p>{{d.body}}</p>
</div>